/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/MemberCard.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.MemberCard_circle__fd46A {
  clip-path: circle();
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.MemberCard_circlehover__EsHrC {
  /* border-radius: 999px; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  clip-path: circle();
}
